@model SmartSchoolWebPortal.ClassAttendance

@{
    ViewBag.Title = "Attendance";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Student Leave</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area white-header">
        <div class="main_menu">
            <div class="search_input" id="search_input_box">
                <div class="container">
                    <form class="d-flex justify-content-between" method="" action="">
                        <input type="text"
                               class="form-control"
                               id="search_input"
                               placeholder="Search Here" />
                        <button type="submit" class="btn"></button>
                        <span class="ti-close"
                              id="close_search"
                              title="Close Search"></span>
                    </form>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand" href="index.html">
                        <img class="logo-2" src="~/img/logo2.png" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Management/LogOff">Log Off</a>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Manage Student</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/Attendance">Attendance</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/RegisterCourse">Register Course</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/STudentRequests">Register Requests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/LeaveRequest">Leave Requests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/ViewAllStudent">View All</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/Enrollment">EnRollMent</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/ComplaintStatus">Complaints</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/AddFee">Add Fees</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Manage Parents</a>
                                <ul class="dropdown-menu">

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/PTudentRequests">Register Requests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/ViewAllParent">View All</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Manage Hostels</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/MAddHostels">Add Hostels</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/MViewHostels">View Hostels</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/HostelRequests">Hostels Requests</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">News/Events</a>
                                <ul class="dropdown-menu">

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/AddNews">Add News</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/Viewnews">View News</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/AddEvents">Add Events</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/ViewEvents">Update Events</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Download Reports</a>
                                <ul class="dropdown-menu">

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/GenerateReportAllStudents">Registered Students</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/GenerateReportAllParents">Registered Parents</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/GenerateReportHostels">Hostels List</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/GenerateReportNews">News List</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/GenerateReportEvents">Events List</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/GenerateReportComplains">Complaints List</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/GenerateReportAtt">Attendance List</a>
                                    </li>
                                </ul>
                            </li>



                            <li class="nav-item">
                                <a href="#" class="nav-link search" id="search">
                                    <i class="ti-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Student</h2>
                            <div class="page_link">

                                <a href="#">Attendance</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================ Start Popular Courses Area =================-->
    <div class="popular_courses section_gap_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="main_title">
                        <h2 class="mb-3">Knowledge is Success!</h2>
                    </div>
                </div>
            </div>
            <!--================ End Popular Courses Area =================-->
            <!--================ Start Registration Area =================-->
            <div class="section_gap registration_area">
                <div class="container">
                    <div class="row align-items-center">
                        <center>
                            <div class="col-lg-6 offset-lg-6">
                                <div class="register_form">
                                    <h3>Enter Details</h3>
                                    @using (Html.BeginForm("Attendance", "Management", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        <form class="form_area"
                                              id="myForm"
                                              action="mail.html"
                                              method="post">
                                            <div class="row">
                                                <div class="col-lg-12 form_group">
                                                    <select name="ClassId">
                                                        <option value="0">Select Class</option>
                                                        <option value="1">Class 1</option>
                                                        <option value="2">Class 2</option>
                                                        <option value="3">Class 3</option>
                                                        <option value="4">Class 4</option>
                                                        <option value="5">Class 5</option>
                                                        <option value="6">Class 6</option>
                                                        <option value="7">Class 7</option>
                                                        <option value="8">Class 8</option>
                                                        <option value="9">Class 9</option>
                                                        <option value="10">Class 10</option>
                                                    </select>
                                                    <select name="SectionId">
                                                        <option value="0">Select Section</option>
                                                        <option value="1">Red</option>
                                                        <option value="2">Yellow</option>
                                                        <option value="3">Orange</option>
                                                        <option value="4">White</option>

                                                    </select>
                                                    <input name="Date"
                                                           placeholder="Enter Date"
                                                           required=""
                                                           type="date" />

                                                </div>
                                                <div class="col-lg-12 text-center">
                                                    <input type="submit" class="btn primary-btn" value="Mark Attendances" />
                                                </div>
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </center>

                    </div>
                </div>
                <!--================ End Registration Area =================-->
                <!--================ Start Change UserName Area =================-->
                <!--================ End Change UserName Area =================-->
                <!--================ Start footer Area  =================-->
                <!--================ End footer Area  =================-->
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="js/jquery-3.2.1.min.js"></script>
                <script src="js/popper.js"></script>
                <script src="js/bootstrap.min.js"></script>
                <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
                <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
                <script src="js/owl-carousel-thumb.min.js"></script>
                <script src="js/jquery.ajaxchimp.min.js"></script>
                <script src="js/mail-script.js"></script>
                <!--gmaps Js-->
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
                <script src="js/gmaps.min.js"></script>
                <script src="js/theme.js"></script>
</body>
</html>





