@model SmartSchoolWebPortal.Models.HostelViewModel

@{
    ViewBag.Title = "Delete";
}

<body>
    <header class="header_area white-header">
        <div class="main_menu">
            <div class="search_input" id="search_input_box">
                <div class="container">
                    <form class="d-flex justify-content-between" method="" action="">
                        <input type="text"
                               class="form-control"
                               id="search_input"
                               placeholder="Search Here" />
                        <button type="submit" class="btn"></button>
                        <span class="ti-close"
                              id="close_search"
                              title="Close Search"></span>
                    </form>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand" href="index.html">
                        <img class="logo-2" src="~/img/logo2.png" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Management/LogOff">Log Off</a>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Manage Student</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/Attendance">Attendance</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/RegisterCourse">Register Course</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/STudentRequests">Register Requests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/ViewAllStudent">View All</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/Enrollment">EnRollMent</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Manage Parents</a>
                                <ul class="dropdown-menu">

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/PTudentRequests">Register Requests</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/ViewAllParent">View All</a>
                                    </li>s
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Manage Hostels</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/MAddHostels">Add Hostels</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/MViewHostels">View Hostels</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Management/HostelRequests">Hostels Requests</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link search" id="search">
                                    <i class="ti-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>Hostel</h2>
                            <div class="page_link">

                                <a href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================ Start Popular Courses Area =================-->
    <div class="popular_courses section_gap_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="main_title">
                        <h2 class="mb-3">Welcome Sir!</h2>
                    </div>
                </div>
            </div>
            <!--================ End Popular Courses Area =================-->
            <!--================ Start Registration Area =================-->
            s            <!--================ End Registration Area =================-->
            <!--================ Start Change Area =================-->
            <center>
                <div class="col-lg-4 offset-lg-1">
                    <div class="register_form">
                        <h3>Delete Hostel</h3>
                        <h3>Are you sure you want to delete this?</h3>
                        <div>


                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-primary" /> |

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </center>
            <!--================ End Change Area =================-->
            <!--================ Start Feature Area =================-->
            <!--================ End Feature Area =================-->
            <!--================ Start footer Area  =================-->
            <!--================ End footer Area  =================-->
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="js/jquery-3.2.1.min.js"></script>
            <script src="js/popper.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
            <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
            <script src="js/owl-carousel-thumb.min.js"></script>
            <script src="js/jquery.ajaxchimp.min.js"></script>
            <script src="js/mail-script.js"></script>
            <!--gmaps Js-->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
            <script src="js/gmaps.min.js"></script>
            <script src="js/theme.js"></script>

</body>


