<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>TimeTable Students</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area white-header">
        <div class="main_menu">
            <div class="search_input" id="search_input_box">
                <div class="container">
                    <form class="d-flex justify-content-between" method="" action="">
                        <input type="text"
                               class="form-control"
                               id="search_input"
                               placeholder="Search Here" />
                        <button type="submit" class="btn"></button>
                        <span class="ti-close"
                              id="close_search"
                              title="Close Search"></span>
                    </form>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand" href="index.html">
                        <img class="logo-2" src="img/logo2.png" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Parent/LogOff">Log Off</a>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Attendance</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/ViewAttendance">View Attendance</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/SLeaveView">View Leaves</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/SViewTimetable">View Timetable</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/PLeaveRequests">Request Leave</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="~/Parent/ViewRegCourses"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Registered Courses</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/ViewRegCourses">View</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Hostels</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/ViewHostels">View/Request Hostels</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Student Fee</a>
                                <ul class="dropdown-menu">


                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/SAnnualStatus">View</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Other</a>
                                <ul class="dropdown-menu">

                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/ViewNews">View News</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/ViewEvents">View Events</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/AddComplaint">Add Complaint</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Parent/ComplaintStatus">Complaint Status</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link search" id="search">
                                    <i class="ti-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>TimeTable</h2>
                            <div class="page_link">

                                <a href="#">Students</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================ Start Popular Courses Area =================-->
    <div class="popular_courses section_gap_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="main_title">
                        <h2 class="mb-3">You can View Student Timetable from Here!</h2>
                        <h3>Class : 10th</h3>
                        <h3>Section : Red</h3>
                    </div>
                </div>
            </div>
            <!--================ End Popular Courses Area =================-->
            <!--================ Start List Area =================-->
            <div class="section-top-border">
                <h3 class="mb-30 title_color">TimeTable</h3>
                <div class="progress-table-wrap">
                    <div class="progress-table">
                        <div class="table-head">
                            <div class="serial">Day</div>
                            <div class="country">Lecture1</div>
                            <div class="country">Lecture2</div>
                            <div class="country">Lecture3</div>
                            <div class="country">Lecture4</div>
                            <div class="country">Lecture5</div>
                            <div class="country">Break</div>
                            <div class="country">Lecture6</div>
                            <div class="country">Lecture7</div>
                            <div class="country">Lecture8</div>

                        </div>
                        <div class="table-row">
                            <div class="serial">Monday</div>
                            <div class="country">English</div>
                            <div class="country">Urdu</div>
                            <div class="country">Math</div>
                            <div class="country">Math</div>
                            <div class="country">Bio/Computer</div>
                            <div class="country">Break</div>
                            <div class="country">English</div>
                            <div class="country">Free</div>
                            <div class="country">Islamiat</div>
                        </div>
                        <div class="table-row">
                            <div class="serial">Tuesday</div>
                            <div class="country">English</div>
                            <div class="country">Urdu</div>
                            <div class="country">Math</div>
                            <div class="country">Math</div>
                            <div class="country">Bio/Computer</div>
                            <div class="country">Break</div>
                            <div class="country">English</div>
                            <div class="country">Free</div>
                            <div class="country">Islamiat</div>
                        </div>
                        <div class="table-row">
                            <div class="serial">Wednesday</div>
                            <div class="country">English</div>
                            <div class="country">Urdu</div>
                            <div class="country">Math</div>
                            <div class="country">Math</div>
                            <div class="country">Bio/Computer</div>
                            <div class="country">Break</div>
                            <div class="country">English</div>
                            <div class="country">Free</div>
                            <div class="country">Islamiat</div>
                        </div>
                        <div class="table-row">
                            <div class="serial">Thursday</div>
                            <div class="country">English</div>
                            <div class="country">Urdu</div>
                            <div class="country">Math</div>
                            <div class="country">Math</div>
                            <div class="country">Bio/Computer</div>
                            <div class="country">Break</div>
                            <div class="country">English</div>
                            <div class="country">Free</div>
                            <div class="country">Islamiat</div>
                        </div>
                        <div class="table-row">
                            <div class="serial">Friday</div>
                            <div class="country">English</div>
                            <div class="country">Urdu</div>
                            <div class="country">Math</div>
                            <div class="country">Math</div>
                            <div class="country">Bio/Computer</div>
                            <div class="country">Break</div>
                            <div class="country">English</div>
                            <div class="country">Free</div>
                            <div class="country">Islamiat</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--================ Start List Area =================-->
            <!--================ End Feature Area =================-->
            <!--================ Start footer Area  =================-->
            <!--================ End footer Area  =================-->
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="js/jquery-3.2.1.min.js"></script>
            <script src="js/popper.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
            <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
            <script src="js/owl-carousel-thumb.min.js"></script>
            <script src="js/jquery.ajaxchimp.min.js"></script>
            <script src="js/mail-script.js"></script>
            <!--gmaps Js-->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
            <script src="js/gmaps.min.js"></script>
            <script src="js/theme.js"></script>
</body>
</html>
